h1{
    color:red;
}
h2{
    color:blue;
}
h3{
    color:green;
}
footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
}
.img1{
    width: 700px;
    height: 500px;
}
.img2{
    width: 700px;
    height: 500px;
}
.img4{
    width: 700px;
    height: 500px;
}
.img5{
    width: 700px;
    height: 500px;
}
.img6{
    width: 700px;
    height: 500px;
}
.img7{
    width: 700px;
    height: 500px;
}
.img8{
    width: 700px;
    height: 500px;
}
.img9{
    width: 700px;
    height: 500px;
}
.img10{
    width: 700px;
    height: 500px;
}
.img23{
    width: 700px;
    height: 500px;
}
code{
    background-color: lightgray;
}
body{
    background-color: #F8F8FF;
}
